{% extends "ArticleDevBundle::adminLayout.html.twig" %}

    {# IMPORTATION DE LA MACRO CHARGEE DE LA CREATION DES MENUS #}
{% import "ArticleDevBundle::menu.html.twig" as macroMenus %}


{% block arianne %}
    {{ parent() }}
{% endblock %}

{# 
    CREATION DU MENU DE L'APPLICATION
    
    Les menus récupérés de la base de données sont passés à la méthode "dynamicMenu" de la macro de création de menus 
    Celle-ci se charge de les placer comme il faut dans le code html préparé à cet effet contenu dans la fichier "menu.html.twig"
#}
{% block menu %}
    {{ macroMenus.dynamicMenu(menus) }}
{% endblock %}

{# BLOCK RESERVE A LA SOUS-CATEGORIE SELECTIONNEE #}
{% block catSelect %}
    {{ parent() }}
{% endblock %}

{% block body %}
   {{ parent() }}

    <div id="devAdmin">

        <table>
            <thead>
            <tr>
             <th>Articles</th> <th>Catégories</th> <th>Sous-catégories</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><a href="{{ path('article_dev_addArticle') }}">Ajouter un article</a></td>
                <td><a href="{{ path('article_dev_addCategory') }}">Ajouter une catégorie</a></td>
                <td><a href="{{ path('article_dev_addSubCategory') }}">Ajouter une sous-catégorie</a></td>
            </tr>
            <tr>
                <th></th>
                <td><a href="{{ path('article_dev_showCategories') }}">Editer une catégorie</a></td>
                <td><a href="{{ path('article_dev_showCategories') }}">Editer une sous-catégorie</a></td>
            </tr>
            <tr>
                <th></th>
                <td><a href="{{ path('article_dev_showCategories') }}">Supprimer une catégorie</a></td>
                <td><a href="{{ path('article_dev_showCategories') }}">Supprimer une sous-catégorie</a></td>
            </tr>
            <tr>
                <th>Les questions</th>
                <td colspan="3"><a href="{{ path('article_dev_addQuestion') }}">Ajouter une question</a></td>
            </tr>
            <tr>
                <th>Les propositions de réponses</th>
                <td colspan="3"><a href="{{ path('article_dev_addProposal') }}">Ajouter une proposition de réponse</a></td>
            </tr>
            <tr>
                <th>Consignes d'administration</th>
                <td colspan="3"><a href="{{ path('article_dev_guideAdmin') }}">Accéder au guide administrateur</a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}