{# Héritage de l'aperçu global de l'application #}
{% extends "::base.html.twig" %}

{# IMPORTATION DE LA MACRO CHARGEE DE LA CREATION DES MENUS #}
{% import "ArticleDevBundle::menu.html.twig" as macroMenus %}
{% import "ArticleDevBundle::voletgauche.html.twig" as macroVoletGauche %}



{# 
    CREATION DU MENU DE L'APPLICATION
    
    Les menus récupérés de la base de données sont passés à la méthode "dynamicMenu" de la macro de création de menus 
    Celle-ci se charge de les placer comme il faut dans le code html préparé à cet effet contenu dans la fichier "menu.html.twig"
#}
{% block menu %}
    {{ macroMenus.dynamicMenu(menus) }}
{% endblock %}


{% block arianne %}  

    {{ parent() }}

    {% if article.subCategory.labelSubCategory!="accueil" %}
        {% block subCat %}
            <li>
                <a href="{{ path('article_dev_show', {'id':article.subCategory.id}) }}" title="Retour à : {{ article.subCategory.labelSubCategory }}">
                    {{ article.subCategory.labelSubCategory }}
                </a><span class="end">&nbsp;</span>
            </li>
        {% endblock %}
    {% endif %}
{% endblock %}

{# VOLET GAUCHE DE L'APPLICATION #}
{% block leftCont %}
    {{ macroVoletGauche.voletGauche(articles) }}
{% endblock %}
            
{% block body %}
    {{ parent() }}
    <div class='titleDev'>
        {{ article.title }}
        <span class="adminArticle">
           {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href='{{ path('article_dev_editArticle', {'id': article.id}) }}' title="Editer l'article: {{article.title}}">
                    Editer
                </a>  - 
                <a href="{{ path('article_dev_delArticle', {'id': article.id}) }}" title="Supprimer l'article: {{article.title}}">
                    Supprimer
                </a>
           {% endif %}
       </span>
    </div>
    {#<span><h6>Par {{ article.author|capitalize }}, le {{ article.date|date('d M Y') }}</h6></span>#}
    
{# 
    ICI raw nous permet de faire comprendre à twig que les balises <br> contenues dans les articles sont bien des éléments HTML 
    et doivent être interpretées comme tel.autoescape
    Il est a noter que, pour que trutruncate fonctionne, il a fallut activer les options de twig dans le fichier config.yml 
#}
    <p class='content'>
        {% if article.image != '' %}
            <img src="{{ article.image }}" alt="{{ article.title }}" class='imageDevSup'>
        {% endif %}
        {{ article.content|raw }}
        <a href="{{ path('article_dev_show', {'id': idSc }) }}" title="retour à la page précédente">
            <span class='back'>«« Retour</span>
        </a>
    </p>
    {% if article.link != '' %}
        <p class='linkDev'>
            Pour plus d'informations, <a href='{{ article.link }}' target="_blank"><span class='details'>cliquez ici.</span></a>
        </p>
    {% endif %}
        
{% endblock %}