{# Héritage de l'aperçu global de l'application #}
{% extends "::base.html.twig" %}

{# IMPORTATION DE LA MACRO CHARGEE DE LA CREATION DES MENUS #}
{% import "ArticleDevBundle::menu.html.twig" as macroMenus %}



{# 
    CREATION DU MENU DE L'APPLICATION
    
    Les menus récupérés de la base de données sont passés à la méthode "dynamicMenu" de la macro de création de menus 
    Celle-ci se charge de les placer comme il faut dans le code html préparé à cet effet contenu dans la fichier "menu.html.twig"
#}
{% block menu %}
    {{ macroMenus.dynamicMenu(menus) }}
{% endblock %}


{% block arianne %}    
    {{ parent() }} 
    <li><a href="#" title="Back to item 2">Article N° {{ article.id }}</a><span class="end">&nbsp;</span></li>
{% endblock %}

{% block body %}
    <h1>Le développement durable</h1>
    <h3>{{ article.title }}</h3>
    {#<span><h6>Par {{ article.author|capitalize }}, le {{ article.date|date('d M Y') }}</h6></span>#}
    
{# 
    ICI raw nous permet de faire comprendre à twig que les balises <br> contenues dans les articles sont bien des éléments HTML 
    et doivent être interpretées comme tel.autoescape
    Il est a noter que, pour que trutruncate fonctionne, il a fallut activer les options de twig dans le fichier config.yml 
#}
    <p>
        {{ article.content|raw }}
        <a href="{{ path('article_dev_homepage', {'id': idSc }) }}" title="retour à l'accueil"><i>«« Retour</i></a>
    </p>
        
{% endblock %}