{% extends "ArticleDevBundle::adminLayout.html.twig" %}

    {# IMPORTATION DE LA MACRO CHARGEE DE LA CREATION DES MENUS #}
{% import "ArticleDevBundle::menu.html.twig" as macroMenus %}


{% block arianne %}

    {{ parent() }}

    {% if article.subCategory.labelSubCategory!="accueil" %}
        <li>
            <a href="{{ path('article_dev_show', {'id':article.subCategory.id}) }}" title="Retour à : {{ article.subCategory.labelSubCategory }}">
                {{ article.subCategory.labelSubCategory }}
            </a><span class="end">&nbsp;</span>
        </li>
    {% endif %}
 
    <li>
        <a href="{{ path('article_dev_delArticle', {'id': article.id}) }}" title="Supprimer l'article: {{ article.title }}">
            Suppression article
        </a><span class="end">&nbsp;</span>
    </li>
{% endblock %}

{# 
    CREATION DU MENU DE L'APPLICATION
    
    Les menus récupérés de la base de données sont passés à la méthode "dynamicMenu" de la macro de création de menus 
    Celle-ci se charge de les placer comme il faut dans le code html préparé à cet effet contenu dans la fichier "menu.html.twig"
#}
{% block menu %}
    {{ macroMenus.dynamicMenu(menus) }}
{% endblock %}

{% block body %}
   {{ parent() }}
    <div class="well">
        <p class="title">Etes-vous certain de vouloir supprimer l'article "{{ article.title }}" ?</p>
        <form action="{{ path('article_dev_delArticle', {'id': article.id}) }}" method='post' {{ form_enctype(form) }} class="formSup"> 
            {{ form_errors(form) }}
            
            <a href="{{ path('article_dev_show', {'id': article.subCategory.id}) }}" class='a-back'>
              <i class="btn-back"></i>
              Retour à l'article
            </a>
            
            <input type="submit" value="Supprimer" class="btn-danger" />
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}