{% extends "::base.html.twig" %}

{% block menu %}
   {# <div id="menu">
        <ul>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a>
            <ul>
              <li><a href="#">Sous-item 1</a></li>
              <li><a href="#">Sous-item 2</a></li>
              <li><a href="#">Sous-item 3</a></li>
            </ul>
          </li>
          <li><a href="#">Item 3</a></li>
        </ul>
    </div>#}
    <div id="menu">
        <ul>
            {#% for men in menus %}
                <li><a href="#">{{ men.labelCategory }}</a><ul>
                {% for smen in subMenu %}
                    {% if (men.id==smen.category_id) %}
                        <li><a href="#">{{ smen.labelSubCategory }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul></li>
            {% endfor %#}
            {% for smen in subMenu %}
                        <li><a href="#">{{ smen.labelSubCategory }}</a></li>
                {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block arianne %}
    > Accueil
{% endblock %}
{% block body %}
    <h1>Le développement durable</h1>
    {% for article in articles %}
        <h3>{{ article.title }}</h3>
        {#<span><h6>Par {{ article.author|capitalize }}, le {{ article.date|date('d M Y') }}</h6></span>#}

    {# 
        ICI raw nous permet de faire comprendre à twig que les balises <br> contenues dans les articles sont bien des éléments HTML 
        et doivent être interpretées comme tel.autoescape
        Il est a noter que, pour que trutruncate fonctionne, il a fallut activer les options de twig dans le fichier config.yml 
    #}
        <p>
            {{ article.content|truncate(500, true, ' ...')|raw }}
            <a href="{{ path('article_dev_article', {'idAr': article.id }) }}"><i>la suite</i></a>
        </p>
    {% endfor %}
        
{% endblock %}