{% extends "ArticleDevBundle::adminLayout.html.twig" %}

    {# IMPORTATION DE LA MACRO CHARGEE DE LA CREATION DES MENUS #}
{% import "ArticleDevBundle::menu.html.twig" as macroMenus %}


{% block arianne %}
    {{ parent() }}
    <li>
        <a href="{{ path('article_dev_addArticle') }}" title="Ajout de catégorie">
            Modification article
        </a><span class="end">&nbsp;</span>
    </li>
{% endblock %}

{# 
    CREATION DU MENU DE L'APPLICATION
    
    Les menus récupérés de la base de données sont passés à la méthode "dynamicMenu" de la macro de création de menus 
    Celle-ci se charge de les placer comme il faut dans le code html préparé à cet effet contenu dans la fichier "menu.html.twig"
#}
{% block menu %}
    {{ macroMenus.dynamicMenu(menus) }}
{% endblock %}

{% block body %}
   {{ parent() }}
    <div class="well">
        <form action=""> 
            {{ form_widget(form) }}
            <input type="submit" class='btn btn-primary' value="Modifier">
            <input type="reset" class='btn btn-second' value="Annuler">
        </form>
            {#{ form_errors(form) }}
            <div>
                {{ form_label(form.title, "Titre de l'article :") }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title, { 'attr': {'id': 'formTitle'}}) }}                
            </div>
            <div>
                {{ form_label(form.author, "Nom de l'auteur :") }}
                {{ form_errors(form.author) }}
                {{ form_widget(form.author, { 'attr': {'id': 'formAuthor'}}) }}                
            </div>
            <div>
                {{ form_label(form.content, "Contenu de l'article :") }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content, { 'attr': {'id': 'formContent'}}) }}                
            </div>
            <div>
                {{ form_label(form.link, "Lien important :") }}
                {{ form_errors(form.link) }}
                {{ form_widget(form.link, { 'attr': {'id': 'formLink'}}) }}                
            </div>
            <div>
                {{ form_label(form.image, "Image de l'article :") }}
                {{ form_errors(form.image) }}
                {{ form_widget(form.image, { 'attr': {'id': 'formImage'}}) }}                
            </div>
            <div>
                {{ form_label(form.subCategory, "Sous catégorie :", { 'label_attr': {'class': 'formLabel'}} ) }}
                {{ form_errors(form.subCategory) }}
                {{ form_widget(form.subCategory, { 'attr': {'id': 'formSubcat'}}) }}                
            </div>

            <div>
                {{ form_rest(form) }#}
    </div>
{% endblock %}