{% extends "ArticleDevBundle::adminLayout.html.twig" %}

    {# IMPORTATION DE LA MACRO CHARGEE DE LA CREATION DES MENUS #}
{% import "ArticleDevBundle::menu.html.twig" as macroMenus %}


{% block arianne %}
    {{ parent() }}
    <li>
        <a href="{{ path('article_dev_showCategories') }}" title="Retour aux catégories et sous-catégorie">
            Edition sous-catégories
        </a><span class="end">&nbsp;</span>
    </li>
{% endblock %}

{# 
    CREATION DU MENU DE L'APPLICATION
    
    Les menus récupérés de la base de données sont passés à la méthode "dynamicMenu" de la macro de création de menus 
    Celle-ci se charge de les placer comme il faut dans le code html préparé à cet effet contenu dans la fichier "menu.html.twig"
#}
{% block menu %}
    {{ macroMenus.dynamicMenu(menus) }}
{% endblock %}

{% block body %}
   {{ parent() }}
    <div class="well">
        <p class="title">Edition de la sous-catégorie: <span class="editSup">{{subcategory.labelSubCategory}}</span></p>
        <form action="{{ path('article_dev_editSubCategory', {'id':subcategory.id}) }}" method='post' {{ form_enctype(form) }} class="formCateg">
            {{ form_errors(form) }}
            <div>
                {{ form_label(form.labelSubCategory, "Sous-catégorie : ", { 'label_attr': {'class': 'formLabel'}} ) }}
                {{ form_errors(form.labelSubCategory) }}
                {{ form_widget(form.labelSubCategory, { 'attr': {'id': 'formCat'}}) }}                
            </div>
            <div>
                {{ form_label(form.category, "Catégorie (menu) :", { 'label_attr': {'class': 'formLabel'}} ) }}
                {{ form_errors(form.category) }}
                {{ form_widget(form.category, { 'attr': {'id': 'formCat'}}) }}                
            </div>
            <div>
                {{ form_rest(form) }}
                <input type="submit" class='btn btn-primary' value="Enrégistrer">
                <input type="reset" class='btn btn-second' value="Annuler">
            </div>
        </form>
    </div>
{% endblock %}