{% extends "ArticleDevBundle::adminLayout.html.twig" %}

    {# IMPORTATION DE LA MACRO CHARGEE DE LA CREATION DES MENUS #}
{% import "ArticleDevBundle::menu.html.twig" as macroMenus %}


{% block arianne %}

    {{ parent() }}
 
    <li>
        <a href="{{ path('article_dev_showCategories') }}" title="Retour aux catégories et sous-catégories">
            Suppression proposition de réponse
        </a><span class="end">&nbsp;</span>
    </li>
{% endblock %}


{% block menu %}
    {{ macroMenus.dynamicMenu(menus) }}
{% endblock %}

{% block body %}
   {{ parent() }}
    <div class="well">
        <p class="title">Etes-vous certain de vouloir supprimer cette proposition <span class="editSup">« {{proposal.pEntitled}} » ?</span></p>
        <form action="{{ path('article_dev_delProposal', {'id': proposal.id}) }}" method='post' {{ form_enctype(form) }} class="formSup"> 
            {{ form_errors(form) }}
            
            <a href="{{ path('article_dev_admin') }}" class='a-back'>
              <i class="btn-back"></i>
              Retour à l'administration
            </a>
            
            <input type="submit" value="Supprimer" class="btn-danger" />
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}